* {
    font-family: Arial, sans-serif; 
}
body {
    background-color: #575453;
    margin: 10px;
}

/*Sections*/
section {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 20px auto;
    padding: 30px 250px 0 130px;
}

/*Articles*/
article {
    background-color: rgb(236, 233, 233);
    padding:20px 0 15px 25px;
    border-radius: 8px;
    margin: 20px auto;
}

/*Buttons*/
button {
    background-color: #38d5d5;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px 45px 15px 45px;
}

/*Tables*/

.cabeza-influencers {
    text-align: center;
}

.tabla-influencers th {
    padding: 15px 12px 15px 12px;
}

.tabla-influencers td {
    padding: 15px 12px 15px 12px;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
    text-align: left;
}

.cabeza-ventas {
    text-align: center;

}

input, select {
    margin-left: 50px;
}

.agregarinflu {
    padding: 15px 15px 15px 25px;
}

.tablainflue-nombre {
    padding: 15px 25px 15px 25px;
}